body {
    padding: 0;
    margin: 0;
}

#div-sup {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.box1 {
    background-image: url(../img/patronrana.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 150px;
    font-weight: bold;
    text-align: center
}



.box2 {

    background-color: black;
}

.box3 {
    background-image: url(../img/patronrana.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#scoreBar {

    width: 100%;
    background-color: green;
    height: 100%;
}

#button-start {
    background-image: url(../img/patronrana.jpeg);
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 150px;
    /* background-image: url(../img/button.png);
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    padding: auto;
    display: block;
    width: 150px;
    margin: 0 auto; */
}